body
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    background-color: #3a1911;
    font-family: "Times New Roman", sans-serif;
}

header
{
    margin: 0px 0px 150px 0px;
    /*background-color: #d7d7d7;*/
    background-image:linear-gradient(rgb(255,255,255),#d7d7d7);
    position: fixed;
    width: 100%;
    height: 214px;
    z-index:1;
}


#imghead
{
    display:block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

nav
{
    background-color: #3a1911;
    font-size: larger;
    margin-top: 0px;
    height:45px;
    padding-left:auto;
    padding-right:auto;
    margin-bottom: 0px;
    display:block;
    text-align:center;
}



nav li
{
    margin: 0px 2px 0px 2px;
    padding: 12px 10px 12px 10px;
    display:inline-block;
    color:white;
}

.canhov:hover
{
    background-color: rgb(102,51,0);
}


li a
{
    color:white;
    text-decoration: none;
    font-size: small;
    letter-spacing: 2px;
    
}

.plus
{
   color: rgba(255,255,255,0.5);
}


/* Ici le css du header s'arrête*/

section
{
    width: 70%;
    padding: 220px 10px 30px 10px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

article
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
}

h1
{
    font-family: Monotype Corsiva;
    font-size: 70px;
    color: #3a1911;
    text-align: center;
    margin-bottom: 45px;
}

p
{
    font-size: 20px;
    text-align: center;
    padding-bottom: 45px;
}


#video iframe
{
    width: 100%;
    height: 500px;
}

/* CSS du footer */

footer{
    background-color: #3a1911;
    color:white;
    margin-top: 20px;
    height:45px;
    padding-top: 20px;
    padding-left:auto;
    padding-right:auto;
    margin-bottom: 0px;
    text-align: center;
    font-size: small;
    letter-spacing: 2px;
}

footer a:link
{
    color: white;
    text-decoration: none;
}

footer a:visited
{
    color: white;
    text-decoration: none;
}